<div class="container">
  <h4>NgSwitch Example</h4>
  <ul *ngFor="let show of shows" [ngSwitch]="show.service">
    <li *ngSwitchCase="'Netflix'" class="text-success">{{ show.name }} ({{ show.service }})
    </li>
    <li *ngSwitchCase="'Disneyplus'" class="text-primary">{{ show.name }} ({{ show.service }})
    </li>
    <li *ngSwitchCase="'HBOMax'" class="text-danger">{{ show.name }} ({{ show.service }})
    </li>
    <li *ngSwitchDefault class="text-warning">{{ show.name }} ({{ show.service }})
    </li>
  </ul>
</div>